.buttonsomething {
    background-color: black;
    color: white;
    padding: 12px 28px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    border: none;
    margin-left: 20px;
}

.buttonsomething:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
    transition: all 0.25s;
}
