.bodyImage {
    z-index: 10;
    position: relative;
    margin: 0 auto;
}

.bodyImage__image {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    width: 1400px;
    height: 1000px;
    margin-top: 65px;

}

.bodyImage__image > img {
    flex: 0.60;
    margin-left: 60px;


}
