

.empty {
    max-width: 1440px;
    margin: 0 auto;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.empty__something > p:first-child {
    font-weight: 400;
    margin-top: 160px;
    font-size: 55px;
    /*margin-bottom: 100px;*/
    color: whitesmoke;
    /*color: rgb(16, 103, 59);*/
    max-width: 800px;
    text-align: center;
    cursor: default;
}

.empty__something > .empty__h3 {
    font-weight: 200;
    font-size: 18px;
    margin-top: 10px;
    max-width: 800px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    cursor: default;

}

.empty {
    display: flex;
}

.empty__button {
    display: flex;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.empty__joinNow {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
    background-color: black;
    color: whitesmoke;
    padding: 12px 28px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.2;
}

.empty__joinNow:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
    transition: all 0.25s;
}
